## Токен от вашего Discord бота
# Чтобы дискорд понимал како бот с ним общается
BOT_TOKEN = "BOT TOKEN HERE"

## ID владельца бота
# У владельца есть исключительные права на настройку ядра.
# Также на владельца не распространяются какие-либо ограничения.
BOT_OWNER = 1234

## Главный сервера бота
# На нем будет происходить основное общение с ботом
# Пока эта пометка никак не используется, но в скором времени будет
MAIN_GUILD = 1234

## ID Сервера администраторов
# На этом сервере администраторы смогут использовать команды для настройки бота
# На всех прочих серверах они будут недоступны
ADMIN_GUILD = 1234

## Режим отладки
# Рекомендуется включить при разработке и отключить в рабочей сборке
# Отображает больше логов и происходящем.
DEBUG = false

## Отладка hikari бота
# Включает более подробные логи на корневом уровне.
# А также отладке асинхронности
HIKARI_DEBUG = false

## Подключение к базе данных
# Бот использует Postgres для хранения изменяющихся данных
# Вы также можете указать путь к сокету, если база работает на одной машине
DB_DSN = "postgres://user:password@/run/postgresql/chio"
# DB_DSN = "postgresql://user:password@/chio?host=/var/run/postgresql"

# Определение путей
# =================

## Путь к расширением
# Здесь бот будет искать файлы расширений для загрузки
EXTENSIONS_PATH = "extensions/"

## Путь к данным бота
# Здесь расширения смогут сохранять свои данные для работы
# Например фотографии, временные файлы и прочее
# 
# Некоторые устаревшие расширения не поддерживают перенос из старой версии
# Раньше в этой директории располагались настройки расширений
DATA_PATH = "bot_data/"

## Путь к настройкам
# Отсюда бот будет загружать определённые в расширениях настройки
# настройки представлены в виде TOML файлов
CONFIG_PATH = "config/"
